@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.searchInput:focus{
    outline: none;
}

/* .swiper-slide{
    display: flex;
    justify-content: space-between;
    background-color: #1A1E1F;
    padding: 1rem;
    border-radius: 1rem;
    height: 300px
} */